body {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}

.hex {
    font-size: 3rem;
}

.hexBtn {
  padding: 0.25rem 0.5rem;
  color: #f15025;
  border: 1px solid #f15025;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

.hexBtn:hover {
  background: rgb(0, 0, 0);
}