* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_header {
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.3rem solid #6baa75;
}