body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/lite.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.images {
    min-height: 70vh;
    flex: 0 0 80%;
    background: #8080;
    background: url('images/bcg-0.jpeg')center/cover no-repeat;
    border-radius: 10px;
    box-shadow: 3px 6px #444444;
    position: relative;
}

button {
    display: inline-block;
    background: #fff;
    color: #000;
    border: 2px solid #01011c;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    box-shadow: 1px 3px #0d0d2a;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

button:active {
    background: grey;
    box-shadow: 1px 1px #b5b2b2;
}
button:hover {
    background: #3cf23c;
    color: #ffffff;
}