body {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.colorBtn {
  padding: 0.25rem 0.5rem;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

.colorBtn:hover {
  background: rgb(0, 0, 0);
}
